table.beautiful-table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
}

table.beautiful-table td, table.beautiful-table th {
  padding: 5px 10px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  table.beautiful-table {
    font-size: 16px;
    width: auto;
  }
  table.beautiful-table td, table.beautiful-table th {
    padding: 5px 20px;
    margin: 0;
  }
}

table.beautiful-table th {
  border-bottom: 1px solid #ddd;
  background: #fafafa;
}

table.beautiful-table td {
  border-bottom: 1px solid #eee;
}

table.beautiful-table tr:nth-child(even) {
  background: #fafafa;
}