.CountryList-header {
  text-align: center;
}

.CountryList-name {
  text-align: left;
}

.CountryList-number {
  text-align: right;
}

.CountryList-set-country {
  text-decoration: underline;
  cursor: pointer;
}