.Main-charts {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .Main-charts {
    flex-direction: row;
  }

  .Main-tableContainer {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.03);
  }
}

.Main-prediction {
  font-size: 18px;
  margin: 20px;
}

.Main-tableContainer {
  max-height: 500px;
  overflow-y: scroll;
}

table.Main-table {
  border-collapse: collapse;
  font-size: 12px;
  width: 100%;
}

table.Main-table td, table.Main-table th {
  padding: 5px 10px;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  table.Main-table {
    font-size: 16px;
    width: auto;
  }
  table.Main-table td, table.Main-table th {
    padding: 5px 20px;
    margin: 0;
  }
}

table.Main-table th {
  border-bottom: 1px solid #ddd;
  background: #fafafa;
}

table.Main-table td {
  border-bottom: 1px solid #eee;
}

table.Main-table tr:nth-child(even) {
  background: #fafafa;
}

.Main-number {
  text-align: right;
}

.Main-date {
  text-align: left;
}

.Main-divider {
  width: 100%;
  border: 1px solid #eee;
  margin: 50px 0;
}

@media only screen and (min-width: 768px) {
  .Main-divider {
    width: 700px;
  }
}
