.App {
  padding: 0 5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App h2 {
  font-size: 30px;
}

.App h1 {
  text-align: center;
  font-weight: lighter;
  margin: 40px 20px;
}

.App-select-button {
  border: none;
  padding: 5px 12px;
  margin: 2px;
  font-size: 16px;
  background: #fff;
  cursor: pointer;
}

.App-select-button:focus {
  outline:0;
}

.App-select-button-selected {
  background: #8884d8;
  border-radius: 4px;
  color: #fff;
}

.App-select-province {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.App-filters {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .App-filters {
    flex-direction: row;
  }
}

.App-filters div:not(:last-child) {
  margin-right: 20px;
}

.App-filters label {
  margin-right: 10px
}

.App a {
  color: #888;
  text-decoration: none;
}


